:root {
  --heading-font: "Playfair Display", serif;
  --default-font: "Poppins", sans-serif;
  --branding-color: #03d0cb;
  --body-lihght-color: #ebfffe;
  --body-dark-color: #053231;
  --body-medium-color: #024e4b;
  --shadow-color: #b8f7f5;
  --navbar-dark-color: #255c8b;
  --navbar-medium-color: #2b699e;
}

body {
  font-family: var(--default-font);
  color: var(--body-medium-color);
}
h1 {
  font-size: 96px;
  color: var(--body-dark-color);
  font-family: var(--heading-font);
  font-weight: bold;
}

h2 {
  font-size: 40px;
}
p {
  font-size: 18px;
  font-weight: normal;
}

.nav-collapse-show {
  text-align: right;
}
.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}
.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}
.top-navigation {
  background-color: var(--body-lihght-color);
  height: 60px;
}
.navbar-header {
  margin: 0;
  padding: 0 20px;
}
nav ul {
  margin: 0;
  padding: 18px 0 0 20px;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 20px;
  padding: 0 0 0 10px;
}
nav a {
  text-decoration: none;
  color: var(--navbar-dark-color);
  transition: all 150ms ease-in-out;
}
nav a:hover {
  font-weight: 600;
  color: var(--navbar-medium-color);
}
.active-page {
  font-weight: 900;
}
.hero p {
  font-size: 36px;
}
.logo {
  max-width: 180px;
  height: 60px;
}

.hero {
  background-color: var(--body-lihght-color);
  padding: 0;
}
.header-content {
  display: block;
  text-align: center;
  padding: 160px 20px;
}
.hero p {
  font-family: var(--default-font);
  font-weight: bold;
}

.btn-header {
  background: var(--branding-color);
  color: var(--body-medium-color);
  padding: 15px 30px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  transition: all 200ms ease-in-out;
  box-shadow: var(--shadow-color) 5px 2px 10px 0;
}
.btn-header:hover {
  background-color: var(--body-medium-color);
  color: white;
}
.box-center {
  border: 1px solid var(--branding-color);
  border-radius: 4px;
}
.projects-row {
  width: 100%;
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  margin: 10px 0 20px 0;
  padding: 10px;
}
.projects-col-img {
  background-color: var(--body-lihght-color);
  text-align: center;
}
.about-container {
  padding: 200px 20px;
}
.about-container h1 {
  font-size: 64px;
  line-height: 80px;
}

.about-info {
  margin: 20px;
}
.contact-container {
  padding: 200px 20px;
}
.contact-info {
  margin: 20px;
}
.contact-info h1 {
  font-size: 64px;
  line-height: 80px;
  text-align: left;
}
.contact-info h3 {
  padding: 30px;
  font-size: 24px;
}
.contact-info a {
  padding: 40px;
  text-decoration: none;
  color: var(--branding-color);
  font-weight: 900;
}
.content-container {
  padding: 200px 20px;
}

.content-info {
  margin: 20px;
  text-align: center;
}
.content-info h1 {
  font-size: 64px;
  line-height: 80px;
}
.content-info h3 {
  font-size: 24px;
}
.content-info img {
  border: 1px solid var(--body-medium-color);
  border-radius: 10px;
}
.content-info p {
  opacity: 85%;
  font-size: 16px;
}
.email-class {
  display: flex;
  text-align: center;
  margin: 10px auto;
  color: var(--body-medium-color);
  font-size: 22px;
  text-decoration: none;
}
.icons {
  color: var(--body-medium-color);
}
@media (max-width: 976px) {
  h1 {
    font-size: 45px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 20px;
  }
  .hero p {
    font-size: 30px;
  }

  .about-container {
    padding: 120px 20px 50px 20px;
  }
}
